<div class="map-list">
    <div class="my-maps" style="margin-bottom:20px;">
    <h2 style="font-family:Rubik; color:gray;">My Created Maps:</h2>
    <ul style="text-decoration:none";>
      <% @my_maps.each do |map| %>
        <li><%= link_to map.name, map_path(map), style: "font-size: 22px; font-family: karla; color: black;" %></li>
      <% end %>
    </ul>
  </div>
  <% if @shared_maps.exists? %>
    <div class="shared-maps" style="margin-bottom:20px;">
      <h2 style="font-family:Rubik; color:gray;">My Shared Maps:</h2>
      <ul style="text-decoration:none";>
        <% @shared_maps.each  do |map| %>
          <li><%= link_to map.name, map_path(map), style: "font-size: 22px; font-family: karla; color: black;"%></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
