<div class= "sidebar-card" >
  <div>
    <% if map.photo.present? %>
      <%= cl_image_tag map.photo.url(:avatar), class: "avatar"  %>
    <% else %>
      <%= image_tag "avatar.png",  class: "avatar" %>
    <% end %>
  </div>
  <div class="sidebar-card-infos">
    <div class= "content">
      <h2 class="pintextblack"><%= map.name %> </h2>
      <p class="pintextgray"><%= map.description %></p>
    </div>
    <div class = users>
      <i id="icon" class="fas fa-user-circle"> </i>
      <p class="pintextgray">  +1 </p>
    </div>
  </div>
</div>
