<div id="mySidebar" class="sidebar">
  <div class="sidebar-container-avatar">
    <%= render 'layouts/shared/sidebar-card-avatar', user: current_user%>
  </div>

  <a href="javascript:void(0)" class="closebtn" id='close-nav'>&times;</a>
  <div class="sidebar-container">
    <h2 class="pintitle2 opacity"><i class="far fa-map" id="map-icon"></i>  Maps</h2>
    <% @my_maps.each do |map|  %>
      <%= link_to render('layouts/shared/sidebar-card', map: map), map_path(map)%>
    <% end %>
    <% if @shared_maps.exists? %>
     <% @shared_maps.each  do |shared_map| %>
      <%= link_to render('layouts/shared/sidebar-card-shared-group', map: shared_map), map_path(shared_map) %>
      <% end %>
    <% end %>
  </div>
  <div class="sidebar-btn">
    <%= link_to "ADD MAP", new_map_path, class: "main-btn" %>
  </div>
</div>
<div id="main">
  <button class="openbtn" id='open-nav'><i class="fas fa-bars" style="padding-right: 5px;"></i></button>
</div>




