@media (min-width: 700px) {
  .pin-container img {
    width: 450px;
    margin-top: 40px;
  }
  .main-btn {
    padding: 14px 33px;
    letter-spacing: 3px;
    font-size: 28px;
  }
  .ghost-btn {
    padding: 15px 38px;
    letter-spacing: 3px;
    font-size: 28px;
  }
  .flex-item{
    margin-bottom: 30px;
  }
  .index-margin {
    margin-top: 20px;
  }
  .registration-form {
    margin-top: 20px;
  }
  .registration-form h1 {
    font-size: 2.5em;
  }
  .registration-form p {
    font-size: 18px;
  }
  .form-inputs {
    width: 500px;
    .form-group {
      margin-bottom: 30px;
    }
    input {
      font-size: 20px;
    }
  }
  .form-control-label {
      font-size: 15px;
    }
  .form-control {
    height: 20px;
  }
  .terms-and-conditions {
    margin-bottom: 20px;
    .terms-button {
        width: 55px;
        height: 22px;
      .terms-circle {
        width: 22px;
        height: 22px;
      }
    }
  }
  .login-form {
    margin-top: 30px;
  }
  .login-form h1 {
    font-size: 2.5em;
  }
  .login-form p {
    font-size: 18px;
  }
  .password-lost {
    margin-bottom: 80px;
    font-size: 20px;
  }
}

















