@media (min-width: 700px) {
  .pin-container img {
    width: 420px;
    margin-top: 50px;
  }

  .main-btn {
    padding: 10px 28px;
    letter-spacing: 3px;
    font-size: 22px;
  }

  .ghost-btn {
    padding: 10px 28px;
    letter-spacing: 3px;
    font-size: 22px;
  }

  .pin-container .pintitle1 {
    font-size: 36px;
  }

  .pin-container .pintextgray {
    font-size: 20px;
    max-width: 500px;
  }

  .flex-item{
    margin-bottom: 70px;
  }

  #home-page-margin {
    margin-top: 35px;
  }

  .registration-form {
    margin-top: 20px;
  }

  .registration-form h1 {
    font-size: 44px;
  }

  .registration-form p {
    font-size: 22px;
  }

  .form-inputs {
    width: 500px;
    .form-group {
      margin-bottom: 30px;
    }

    input {
      font-size: 20px;
    }
  }

  .form-control {
    height: 30px;
  }

  .form-control-label {
      font-size: 20px;
  }

  .login-form {
    margin-top: 30px;
  }

  .login-form h1 {
    font-size: 44px;
  }

  .login-form p {
    font-size: 22px;
  }

  .password-lost {
    margin-bottom: 80px;
    font-size: 20px;
  }


}

// CSS for toggle button to 'accept terms and conditions'
  // .terms-and-conditions {
  //   margin-bottom: 20px;
  //   .terms-button {
  //       width: 55px;
  //       height: 22px;
  //     .terms-circle {
  //       width: 22px;
  //       height: 22px;
  //     }
  //   }
  // }
