.pin-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.pin-container img {
  width: 330px;
  margin: auto;
  margin-top: 60px;
}

.flex-item{
  margin-bottom: 35px;
}

.pin-container .pintextgray {
  max-width: 350px;
}


#main-page-margin {
  margin-bottom: 90px;
}

#main-page-p {
  max-width: 400px
}

#home-page-margin {
  margin-top: 25px;
}
