.pin-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  // justify-content: space-around;
}

.pin-container img {
  width: 330px;
  margin: auto;
  margin-top: 50px;
}

.flex-item{
  margin-bottom: 35px;
}

#main-page-margin {
  margin-bottom: 100px;
}

#main-page-p {
  max-width: 400px
}

#home-page-margin {
  // margin-top: 5px;
}
