.pin-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}

.pin-container img {
  width: 330px;
  margin: auto;
  margin-top: 50px;
}

 .pin-container h1 {
    font-family: $headers-font;
  }

.pin-container p {
    font-family: $body-font;
  }

.flex-item{
  margin-bottom: 35px;
}

#main-page-margin {
  margin-bottom: 100px;
}

#main-page-p {
  max-width: 400px
}

#home-page-margin {
  // margin-top: 5px;
}
