.location-page {
  display: flex;
  flex-direction: column;
  width: 40vw;
  height: 100%;
  margin: 16px auto;
}

.location-image-container {
  display: flex;
  justify-content: center;
}

.location-image {
  height: auto;
  width: 40vw;
}

.location-content-container {
  width: 40vw;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 0 35px rgba(0,0,0,0.1);
}
.location-content-container > p {
  padding: 0 8px 0 16px;
 }

.location-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px 0 16px;
}

.location-content-container h1 {
  margin: 8px 0px 0px 0px;
}

.tags {
  padding: 6px 0 6px 12px;
  margin: 8px;
  border: 1px solid lightgrey;
  border-radius: 25px;
  font-family: $body-font;
  font-size: 16px;
  color: purple;
}

.tag-link {
  margin: 18px 8px 18px 0;
  display: flex;
  justify-content: flex-end;
}


// .location-content-container p {
//   margin: 0 0 8px 0;
//   font-family: $body-font;
//   color: $grey-font;
// }
