.pin-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.pin-container img {
  width: 300px;
  margin: auto;
  margin-bottom: 250px;
}

.flex-item{
  margin-bottom: 20px;
}
