<%= simple_form_for([ map, user_group ], remote: true) do |f|  %>
  <div class="form-inputs">
  <%= f.association :user, label_method: :name, class: "userlist" %>
  </div>
  <%= f.button :submit, "ADD FRIEND", class: "addfriend-btn" %>
<% end %>

