<div class="location-card-container">
  <div class="location-card">
    <% if spot.photo.present? %>
      <div class="location-image"><%= image_tag spot.photo %></div>
    <% end %>
      <div class="location-card-content">
        <h2 class="location-card-title"><%= spot.name %></h2>
        <% if spot.open_now.present? %>
          <p class="location-card-text-gray"><%= spot.open_now ? 'Open' : 'Closed' %></p>
        <% end %>
        <p class="location-card-text"><%= spot.address %></p>
      </div>
  </div>
</div>
