<%= simple_form_for map do |f| %>
<div class="form-inputs">
  <%= f.input :name, placeholder: 'Map Subject' %>
</div>
<div class="form-inputs">
  <%= f.input :description, as: :string, placeholder: 'What is this map about?' %>
</div>
<%= f.button :submit, class: "main-btn" %>
<% end %>
