<h2 class="pintitle2"><%= spot.name %></h2>
<p class="pintextgray"><%= spot.vicinity %></p>
<%= link_to 'PIN IT', save_marker_path(@map, spot.place_id), method: :post, remote: true, class:"main-btn" %>
