<div class="map-list">
  <div class="my-maps">
    <h2>My Created Maps:</h2>
    <% @my_maps.each do |map| %>
      <%= link_to map_path(map) do %>
        <p><%= map.name  %></p>
      <% end %>
    <% end %>
  </div>
  <% if @shared_maps.exists? %>
    <div class="shared-maps">
      <h2>My Shared Maps:</h2>
      <% @shared_maps.each do |map| %>
        <%= link_to map_path(map) do %>
          <p><%= map.name  %></p>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
