<div class="pin-container registration-form">
  <h1>Create a shared map!</h1>

  <%= render 'form', map: @map %>

  <%= link_to "GO BACK", map_path(current_user.owned_maps.first), class: "ghost-btn" %>
</div>
