<div id="mySidebar" class="sidebar">
  <%= link_to "Add Map", new_map_path, class: "links main-btn" %>
  <a href="javascript:void(0)" class="closebtn" id='close-nav'>&times;</a>
  <%= @map.name %>

</div>
<div class="map-container">
  <div id="map" data-markers="<%= @markers.to_json %>">
    <div id="main">
      <button class="openbtn" id='open-nav'>&#9776;</button>
    </div>
  </div>
  <%= render 'search_box' %>
</div>

