<div class="pin-container">

    <div class="flex-item">
      <%= image_tag 'logo.png' %>
    </div>

    <div class="flex-item" id = "main-page-margin">
      <h1 class="pintitle1" style="color: #7A7979;">See, Save, Share</h1>
      <p class="pintextgray">Pinpoint allows you to save your favorite locations and to create interactive maps with your friends and colleagues.</p>
    </div>

    <div class="flex-item">
      <%= link_to "SIGN UP", new_user_registration_path, class: "main-btn" %>
      <div id="home-page-margin">
        <%= link_to "LOG IN", new_user_session_path, class: "ghost-btn" %>
      </div>
    </div>
</div>
