<div class="pin-container">
    <div class="flex-item">
      <%= image_tag 'logo.png' %>
    </div>

    <div class="flex-item">
      <%= link_to "SIGN UP", new_user_registration_path, class: "main-btn" %>
    </div>

    <div class="flex-item">
      <%= link_to "LOG IN", new_user_session_path, class: "ghost-btn" %>
    </div>

    <div class="flex-item">
      <p>***Log out button is only for development***</p>
      <%= link_to "LOG OUT", destroy_user_session_path, method: :delete %>
    </div>
</div>



