<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://unsplash.com/photos/tVZMk-cidEc);">
  <div class="container">
    <h1>See, Save, Share</h1>
    <p>Pinpoint allows you to save your favorite locations and to create interactive maps with your friends or colleagues</p>
    <a class="main_btn" href="#">Start Pinning!</a>
  </div>
</div>
