.location-card-image {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.location-card-image img {
  width: 100%;
}

.location-card-btn {
  display: block;
  cursor: pointer;
  max-width: 100px;
}

.location-card-btn:hover {
  border: none;
  color: #7A7979;
}

.location-card-container {
  display: flex;
  max-width: 300px;
  flex-direction: column;
  align-items: center;
}

.location-card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.location-card-content {
  padding: 1rem;

}

.location-card-title {
  font-size: 1.1rem;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
  font-family: $headers-font;
  font-weight: bold;
}

.location-card-text {
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  font-weight: 300;
}

.location-card-text-gray {
  font-family: $body-font;
  color: #7A7979;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}

.mapboxgl-popup-content {
  padding: 0 !important;
  max-width: 300px;
}

.mapboxgl-container .leaflet-marker-icon {
  cursor: pointer;
}

.mapboxgl-popup {
  width: 100%;
  max-width: 100%;
  padding: 0;
}


