.review-card {
  margin: 16px 8px 8px 8px;
  padding: 16px 8px 8px 8px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.review-card-user {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.review-card .review-card-infos {
  flex-grow: 1;
  padding-left: 16px;
}

.review-card-user p {
  opacity: 0.7;
  font-family: $body-font;
  font-size: 14px;
  color: #7A7979;
  margin: 0;
}

.review-card-user h2 {
  font-family: $body-font;
  font-size: 16px;
  color: #000000;
  margin: 0;
}

.review-content {
  padding: 4px 8px 0 16px;
  font-family: $body-font;
  font-size: 18px;
  color: rgba(0,0,0,0.9);

}





