 /* The sidebar menu */
.sidebar {
  display: flex;
  flex-direction: column;
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background: linear-gradient(30deg, rgba(236,233,230,0.7), rgb(255,255,255));
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* wrap content displaying maps*/
.sidebar-container {
  padding-left: 25px;
}
.sidebar-container a {
  text-decoration: none;
}

.sidebar-btn {
  display: flex;
  justify-content: center;
}

.main-sidebar-btn {
  padding: 14px 33px;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  background: linear-gradient(97.34deg, #CC2B5E 0%, rgba(198, 35, 87, 0.516328) 51.35%, rgba(206, 52, 101, 0) 100%), linear-gradient(270deg, #753A88 0%, rgba(117, 58, 136, 0) 100%);
  color: #FFFFFF;
  font-weight: normal;
  border-radius: 50px;
  letter-spacing: 1px;
  font-family: $body-font;
  font-size: 22px;
  line-height: 24px;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #818181;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 40px;
  margin-left: 50px;
  color: white;
}

/* The button used to open the sidebar */
.openbtn {
  margin: 10px 15px;
  height: 70px;
  width: 70px;
  font-size: 40px;
  cursor: pointer;
  color: white;
  background: linear-gradient(97.34deg, #CC2B5E 0%, rgba(198, 35, 87, 0.516328) 51.35%, rgba(206, 52, 101, 0) 100%), linear-gradient(270deg, #753A88 0%, rgba(117, 58, 136, 0) 100%);
  border: none;
  position: fixed;
  z-index: 2;
  vertical-align: middle;
  border-radius: 50%;
}

.openbtn:hover {
  background: transparent;
  color: gray;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s; /* If you want a transition effect */
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
