 /* The sidebar menu */
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background: linear-gradient(to right, rgba(236,233,230,0.7), rgb(255,255,255));
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* wrap content displaying maps*/
.sidebar-container {
  flex-basis: 250px;
  padding-left: 25px;
}
.sidebar-container a {
  text-decoration: none;
}
.sidebar-container-avatar {
  padding: 25px 0 0 25px;
}

.sidebar-btn {
  position: sticky;
  bottom: 25px;
  min-height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(150deg, rgba(236,233,230,0.7), rgb(255,255,255));
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 25;
  right: 32px;
  font-size: 56px;
  margin-left: 50px;
  color: purple;
  text-decoration: none;
}

/* The button used to open the sidebar */
.openbtn {
  margin: 25px 0 0 10px;
  height: 50px;
  width: 50px;
  font-size: 32px;
  cursor: pointer;
  color: white ;
  background: linear-gradient(97.34deg, #CC2B5E 0%, rgba(198, 35, 87, 0.5), rgba(206, 52, 101, 0) 100%), linear-gradient(270deg, #753A88 0%, rgba(117, 58, 136, 0) 100%);
  border: none;
  position: fixed;
  z-index: 2;
  vertical-align: middle;
  border-radius: 5px;
}

.openbtn:hover {
  color: rgb(198,35,87);
  background: transparent;
  transition: 1s;
}

button {
  padding: 0px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s; /* If you want a transition effect */
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}


