
.sidebar-card-avatar p {
  opacity: 0.7;
  font-family: $body-font;
  font-size: 14px;
  color: #7A7979;
}

.sidebar-card-avatar .avatar-text {
  display: flex;
  align-items: center;
  font-family: $body-font;
  font-size: 16px;
  color: #7A7979;
  margin: 0 22px 0 0;
}

.sidebar-card-avatar h2 {
  font-family: $body-font;
  font-size: 16px;
  color: #000000;
  margin: 0;
}

.sidebar-card-avatar .sidebar-card-infos {
  display: flex;
  justify-content: space-between;
}

.sidebar-container-avatar {
  padding: 25px 0 0 25px;
}

