.sidebar-card {
  overflow: hidden;
  height: 60px;
  width: 300px;
  display: flex;
  align-items: center;
}

.sidebar-card h2 {
  font-weight: bold;
  margin: 0;
}
.sidebar-card p {
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.sidebar-card .sidebar-card-infos {
  padding: 8px;
}

