.sidebar-card-avatar {
  overflow: hidden;
  height: 80px;
  width: 300px;
  height: 60px;
  display: flex;
  align-items: center;
  margin-top: 25px;
}

.sidebar-card-avatar .sidebar-card-infos {
  padding: 8px;
}
